@page "/r_compra"
@page "/compra/{compraid:int}"



<EditForm Model="compra" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card col-lg-7 mx-auto">
        <div class="shadow">
            <div class="card-header">
                <h1 class="text-center"><strong>Registro de compra</strong></h1>
            </div>
            <br>
            <br>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="compra.CompraId" class="input" id="id" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>No. ID </label>
                        </div>
                        <button type="button" class="btn" @onclick="Buscar" id="boton">
                            <span class="btn-text-one" style="color: white; " title='Buscar cliente'>Buscar</span>
                        </button>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto"> </div>

                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputDate required="" @bind-Value="compra.Fecha" class="input" id="fecha" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Fecha</label>
                            <ValidationMessage For="@(() => compra.Fecha)" />
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="custom-group">
                            <RadzenDropDown class="custom-dropdown"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                                Data=@ProveedorList TextProperty="Nombre" Name="Producto" ValueProperty="ProveedorId"
                                AllowClear="true" @bind-Value=@compra.ProveedorId Placeholder="Select proveedor" />
                            <span class="custom-bar"></span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="custom-group">
                            <RadzenDropDown class="custom-dropdown"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                                Data=@ProductoList TextProperty="Nombre" Name="Producto" ValueProperty="ProductoId"
                                AllowClear="true" @bind-Value=@compra.ProductoId Placeholder="Select Producto" />
                            <ValidationMessage For="@(() => compra.ProveedorId)" />
                            <span class="custom-bar"></span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="detalle.Cantidad" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Cantidad</label>
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <button type="button" class="btn btn-primary" title="Añadir detalle de venta">
                            <span class="oi oi-plus"> Agregar</span>
                        </button>
                    </div>
                </div>

                <br>
                <br>


                @*Detalle*@

                <table class="table table-light table-striped">
                    <thead class="thead">
                        <tr class="table text-center bg-inventariocolor">
                            <th class="border border-3">Id</th>
                            <th class="border border-3">Producto</th>
                            <th class="border border-3">Cantidad</th>
                            <th class="border border-3">Precio</th>
                            <th class="border border-3">Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (compra.ComprasDetalles is not null)
                        {
                            @foreach (var item in compra.ComprasDetalles)
                            {
                                <tr class="text-center">
                                    <td>@item.ProductoId</td>
                                    <td>@item.Cantidad</td>
                                    <td>RD$ @item.PrecioProducto</td>
                                    <td>RD$ @item.Importe</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr>

            </div>

            <div class="custom-card-body">
                <div class="custom-row">
                    <div class="custom-col">
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                <div class="custom-input-group-prepend">
                                    <span class="custom-input-group-text">SubTotal</span>
                                </div>
                                <input type="number" class="custom-input" value="@compra.SubTotal" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="custom-col">
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                <div class="custom-input-group-prepend">
                                    <span class="custom-input-group-text">ITBIS</span>
                                </div>
                                <input type="number" class="custom-input" value="@compra.ITBIS" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="custom-col">
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                <div class="custom-input-group-prepend">
                                    <span class="custom-input-group-text">Total</span>
                                </div>
                                <input type="number" class="custom-input" value="@compra.Total" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            @*Botones*@
            <div class="card-footer">
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo"><span
                            class="oi oi-file"></span>
                        Nuevo</button>
                    <button type="submit" class="btn btn-outline-success"><span class="oi oi-document"></span>
                        Guardar</button>
                    <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><span
                            class="oi oi-delete"></span>
                        Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {

    [Parameter]
    public int compraid { get; set; }
    public Compras compra { get; set; } = new Compras();
    public List<Productos> ProductoList = new List<Productos>();
    public List<Proveedores> ProveedorList = new List<Proveedores>();
    public ComprasDetalle detalle = new ComprasDetalle();

    public void Nuevo()
    {

    }


    void Guardar()
    {



    }

    private void Buscar()
    {

    }

    public void Eliminar()
    {

    }
}