@page "/r_producto"
@page "/producto/{productoId:int}"
@inject ProductoBLL ProductoBLL
@inject ProveedorBLL ProveedorBLL
@inject CategoriaBLL CategoriaBLL
@inject NotificationService notify
@* @attribute [Authorize] *@

<EditForm Model="producto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="card col-lg-7 mx-auto">
        <div class="shadow">
            <div class="card-header">
                <h1 class="text-center"><strong>Registro de Producto</strong></h1>
            </div>
            <br>
            <br>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="producto.ProductoId" class="input" id="id" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>No. ID</label>
                        </div>
                        <button type="button" class="btn" @onclick="Buscar" id="boton">
                            <span class="btn-text-one" style="color: white;" title='Buscar producto'>Buscar</span>
                        </button>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto"> </div>

                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputDate required="" @bind-Value="producto.Fecha" class="input" id="fecha" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Fecha</label>
                            <ValidationMessage For="@(() => producto.Fecha)" />
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <RadzenDropDown class="w-100" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                                Data=@CategoriaList TextProperty="Nombre" Name="Producto" ValueProperty="CategoriaId"
                                AllowClear="true" @bind-Value=@producto.CategoriaId Placeholder="Categoría" />
                            <ValidationMessage For="@(() => producto.CategoriaId)" />

                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputText required="" @bind-Value="producto.Nombre" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Nombre</label>
                            <ValidationMessage For="@(() => producto.Nombre)" />
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="producto.Existencia" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Existencia</label>
                            <ValidationMessage For="@(() => producto.Existencia)" />
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="producto.Precio" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Precio</label>
                            <ValidationMessage For="@(() => producto.Precio)" />
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="producto.Costo" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Costo</label>
                            <ValidationMessage For="@(() => producto.Costo)" />
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="producto.ITBIS" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>ITBIS</label>
                            <ValidationMessage For="@(() => producto.ITBIS)" />
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <RadzenDropDown class="w-100" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                                Data=@ProveedorList TextProperty="Nombre" Name="Producto" ValueProperty="ProveedorId"
                                AllowClear="true" @bind-Value=@producto.ProveedorId Placeholder="Proveedor" />
                            <ValidationMessage For="@(() => producto.ProveedorId)" />

                        </div>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputText required="" @bind-Value="producto.CodigoBarra" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Código de Barra</label>
                            <ValidationMessage For="@(() => producto.CodigoBarra)" />
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputText required="" @bind-Value="producto.Ubicacion" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Posición Almacén o Ubicación</label>
                            <ValidationMessage For="@(() => producto.Ubicacion)" />
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="producto.Descuento" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Descuento</label>
                        </div>
                    </div>
                </div>
            </div>

            @*Botones*@
            <div class="card-footer">
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo"><span
                            class="oi oi-file"></span>
                        Nuevo</button>
                    <button type="submit" class="btn btn-outline-success"><span class="oi oi-document"></span>
                        Guardar</button>
                    <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><span
                            class="oi oi-delete"></span>
                        Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public int productoId { get; set; }
    public Productos producto { get; set; } = new Productos();
    List<Categorias> CategoriaList = new List<Categorias>();
    List<Proveedores> ProveedorList = new List<Proveedores>();

    protected override void OnInitialized()
    {
        if (productoId > 0)
        {
            this.producto.ProductoId = productoId;
            this.Buscar();
        }
        CategoriaList = CategoriaBLL.GetList(p => true && p.Status == true);
        ProveedorList = ProveedorBLL.GetList(p => true && p.Status == true);
    }

    public void Nuevo()
    {
        producto = new Productos();
        notify.ShowNotification("Nueva plantilla creada correctamente.", NotificationSeverity.Success);
    }

    bool Validar()
    {
        bool validar = true;

        if (producto!.ProductoId < 0)
        {
            notify.ShowNotification("El ID debe ser mayor que 0.", NotificationSeverity.Warning);
            validar = false;
        }
        if (ProductoBLL.ExisteNombre(producto) == false)
        {
            notify.ShowNotification("Ya hay un producto registrado con ese nombre, intente de nuevo.",
            NotificationSeverity.Warning);
            validar = false;
        }
        if (ProductoBLL.ExisteCodigoBarra(producto) == false)
        {
            notify.ShowNotification("Ya está registrado ese código de barra, intente de nuevo", NotificationSeverity.Warning);
            validar = false;
        }
        if (producto.Precio <= producto.Costo)
        {
            notify.ShowNotification("El precio no puede ser menor o igual que el costo", NotificationSeverity.Warning);
            validar = false;
        }
        if (producto.CategoriaId <= 0)
        {
            notify.ShowNotification("El campo categoría es necesario", NotificationSeverity.Warning);
            validar = false;
        }
        if (producto.ProveedorId <= 0)
        {
            notify.ShowNotification("El campo proveedor es necesario", NotificationSeverity.Warning);
            validar = false;
        }

        return validar;
    }

    void Guardar()
    {

        if (!Validar()) { return; }

        if (ProductoBLL.Guardar(producto))
        {
            notify.ShowNotification("Fue guardado correctamente.");
            producto = new Productos();
        }
        else
        {
            notify.ShowNotification("No fue guardado, intentar nuevamente.", NotificationSeverity.Error);
        }

    }

    private void Buscar()
    {
        if (producto!.ProductoId > 0)
        {
            var encontrado = ProductoBLL.Buscar(producto);
            if (encontrado != null)
            {
                notify.ShowNotification("Se ha encontrado con éxito", NotificationSeverity.Info);
                this.producto = encontrado;
            }
            else
            {
                notify.ShowNotification("El ID ingresado no ha sido encontrado.", NotificationSeverity.Error);
            }
        }
    }

    public void Eliminar()
    {
        if (ProductoBLL.Eliminar(producto.ProductoId))
        {
            notify.ShowNotification("Se ha eliminado con éxito.", NotificationSeverity.Success);
            producto = new Productos();
        }
        else
        {
            notify.ShowNotification("No hay elementos para borrar.", NotificationSeverity.Warning);
            return;
        }
    }
}