@page "/r_venta"
@page "/r_venta/{ventaId:int}"
@inject NotificationService notify
@inject VentasBLL VentasBLL
@inject ProductoBLL ProductoBLL
@inject ClienteBLL ClienteBLL
@inject IJSRuntime jsRunTime
@*@attribute [Authorize]*@


<EditForm Model="venta">
    <DataAnnotationsValidator />
    <div class="card col-lg-8 mx-auto">
        <div class="shadow">
            <div class="card-header">
                <h1 class="text-center"><strong>Registro de Venta</strong></h1>
            </div>
            <br>
            <br>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputDate required="" @bind-Value="venta.Fecha" class="input" id="fecha" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Fecha</label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputSelect class="input" @bind-Value="venta.EsCredito">
                                    @if (string.IsNullOrEmpty(venta.EsCredito))
                                    {
                                        venta.EsCredito = OpcionesCredito.FirstOrDefault();
                                    }
                                    @foreach (var item in OpcionesCredito)
                                    {
                                        <option value="@item">@item</option>
                                    }
                            </InputSelect>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>¿Es a crédito?</label>
                            <ValidationMessage For="@(() => venta.EsCredito)" />
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm- col-md-4 mb-2 mx-auto">
                        <div class="custom-group">
                            <RadzenDropDown class="custom-dropdown" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                            Data=@ClienteList TextProperty="Nombre" Name="Producto" ValueProperty="ClienteId"
                            AllowClear="true" @bind-Value=@venta.ClienteId Placeholder="Cliente" />
                            <span class="custom-bar"></span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row hideWhenPrint">
                    <div class="col-sm-2 col-md-3 mb-2 mx-auto">
                        <div class="custom-group">
                            <RadzenDropDown class="custom-dropdown" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                            Data=@ProductoList TextProperty="Nombre" Name="Producto" ValueProperty="ProductoId"
                            AllowClear="true" @bind-Value=@detalle.ProductoId Placeholder="Producto">
                            <Template Context="data">
                                <div>
                                    @data.Nombre
                                    <span class="existing-quantity">(@ExistenciaProducto(data.ProductoId))</span>
                                </div>
                            </Template>
                        </RadzenDropDown>
                            <span class="custom-bar"></span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-2 col-md-2 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="detalle.Cantidad" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Cantidad</label>
                        </div>
                    </div>

                    @*...................... Boton Add ......................*@

                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <button type="button" class="btn btn-primary" title="Añadir detalle de venta" @onclick="AgregarDetalle">
                            <span class="oi oi-plus"> Agregar</span>
                        </button>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <table class="table table-light table-striped">
                    <thead class="thead">
                        <tr class="table text-center bg-inventariocolor">
                            <th class="border border-3">Producto</th>
                            <th class="border border-3">Cantidad</th>
                            <th class="border border-3">Precio</th>
                            <th class="border border-3">ITBIS</th>
                            <th class="border border-3">Descuento</th>
                            <th class="border border-3">Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (venta.ventasDetalle is not null)
                        {
                            @foreach (var item in venta.ventasDetalle)
                            {
                                <tr class="text-center">
                                    <td>@ProductoBLL.Buscar(item.ProductoId)?.Nombre</td>
                                    <td>@item.Cantidad</td>
                                    <td>RD$ @ProductoBLL.Buscar(item.ProductoId)?.Precio</td>
                                    <td>@ProductoBLL.Buscar(item.ProductoId)?.ITBIS %</td>
                                    <td>@ProductoBLL.Buscar(item.ProductoId)?.Descuento %</td>
                                    <td>RD$ @item.Importe</td>
                                    <td class="hideWhenPrint">
                                        <button class="btn btn-danger mr-2" onclick="@(() => EliminarDetalle(item))">
                                            <i class="oi oi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr>
            </div>

           <div class="custom-card-body">
                <div class="custom-row">
                    <div class="custom-col">
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                <div class="custom-input-group-prepend">
                                    <span class="custom-input-group-text">SubTotal</span>
                                </div>
                                <input type="number" class="custom-input" value="@detalle.SubTotal" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="custom-col">
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                <div class="custom-input-group-prepend">
                                    <span class="custom-input-group-text">Total</span>
                                </div>
                                <input type="number" class="custom-input" value="@venta.Total" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <br>
        <br>
            @if(venta.EsCredito == "No" || string.IsNullOrEmpty(venta.EsCredito))
            {
            <div class="row">
                    <div class="col-sm-2 col-md-2 mb-2 mx-auto" id="venta-label-tamanio">
                        <div class="group">
                        <InputNumber required="" @bind-Value="PagoObtenido" @onfocusout="ObtenerDevuelta" class="input"/>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Pago Obtenido</label>
                             <ValidationMessage For="@(() => PagoObtenido)" />
                        </div>
                    </div>

            @*...................... Devuelta ......................*@

                    <div class="custom-col">
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                <div class="custom-input-group-prepend">
                                    <span class="custom-input-group-text">Devuelta</span>
                                </div>
                                <InputNumber @bind-Value="Devuelta" class="form-control col-5" readOnly="true" id="input-tamanio"/>
                                 <ValidationMessage For="@(() => Devuelta)" />
                            </div>
                        </div>
                    </div>
            </div>
            }
            @if(venta.EsCredito == "Si")
            {
                
                <div class="row">
                    <div class="col-sm-2 col-md-2 mb-2 mx-auto" id="venta-label-tamanio">
                        <div class="group">
                        <InputNumber required="" @bind-Value="venta.Cuotas" @onfocusout="ObtenerValorCuotas" class="input"/>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Cuotas</label>
                        </div>
                    </div>

                @*...................... Valor Cuotas ......................*@
                    <br>
                    <div class="custom-col">
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                <div class="custom-input-group-prepend">
                                    <span class="custom-input-group-text">Valor por cuota</span>
                                </div>
                                <InputNumber @bind-Value="venta.ValorCuotas" class="form-control col-5" readOnly="true" id="input-tamanio"/>
                            </div>
                        </div>
                    </div>

                @*...................... tipo de credito ......................*@
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-2 col-md-2 mb-2 mx-auto">
                        <div class="group">
                            <InputSelect class="input" @bind-Value="venta.TipoCredito">
                                    @if (string.IsNullOrEmpty(venta.TipoCredito))
                                    {
                                        venta.TipoCredito = OpcionesTipoCredito.FirstOrDefault();
                                    }
                                    @foreach (var item in OpcionesTipoCredito)
                                    {
                                        <option value="@item">@item</option>
                                    }
                            </InputSelect>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Tipo de crédito</label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-2 col-md-2 mb-2 mx-auto">
                        <div class="group">
                            <InputSelect class="input" @bind-Value="CuotaInicialString" @onfocusout="CalcularSaldoRestante">
                                    @if (string.IsNullOrEmpty(CuotaInicialString))
                                    {
                                        CuotaInicialString = OpcionesCuotaInicial.FirstOrDefault();
                                    }
                                    @foreach (var item in OpcionesCuotaInicial)
                                    {
                                        <option value="@item">@item</option>
                                    }
                            </InputSelect>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Cuota Inicial</label>
                            <ValidationMessage For="@(() => venta.EsCredito)" />
                        </div>
                    </div>


                </div>
            }

            @if(CuotaInicialString == "Si")
            {
                    <div class="custom-col">
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                <div class="custom-input-group-prepend">
                                    <span class="custom-input-group-text">Valor abonado: </span>
                                </div>
                                <InputNumber @bind-Value="venta.ValorCuotas" class="form-control col-5" readOnly="true" id="input-tamanio"/>
                            </div>
                        </div>
                    </div>


                    <div class="custom-col">
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                <div class="custom-input-group-prepend">
                                    <span class="custom-input-group-text">Saldo restante: @SaldoRestante</span>
                                </div>
                                <InputNumber @bind-Value="SaldoRestante" class="form-control col-5" readOnly="true" id="input-tamanio"/>
                            </div>
                        </div>
                    </div>
            }

            <br>
            <br>

            @*Botones*@
            <div class="card-footer hideWhenPrint">
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo"><span
                            class="oi oi-file"></span>
                        Nuevo</button>
                    <button type="button" class="btn btn-outline-success" @onclick="Guardar"><span class="oi oi-document"></span>
                        Guardar</button>
                    <button type="button" disabled="@Condicion" class="btn btn-outline-danger" @onclick="Eliminar"><span
                            class="oi oi-delete"></span>
                        Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public int ventaId { get; set; }
    public Ventas venta { get; set; } = new Ventas();
    public List<Productos> ProductoList = new List<Productos>();
    public List<Clientes> ClienteList = new List<Clientes>();
    public List<string> OpcionesCredito { get; set; } = new List<string>() { "No", "Si"};
    public List<string> OpcionesTipoCredito { get; set; } = new List<string>() { "Mensual", "Quincenal"};
    public string? CuotaInicialString { get; set; }
    public List<string> OpcionesCuotaInicial { get; set; } = new List<string>() { "No", "Si"};
    public VentasDetalle detalle = new VentasDetalle();
    public double PagoObtenido { get; set; }
    public double Devuelta { get; set; }
    public double SaldoRestante { get; set; }
    public bool Condicion { get; set; } = false;

    public int ExistenciaProducto(int productoId)
    {
        var producto = ProductoList.FirstOrDefault(p => p.ProductoId == productoId);
        if (producto != null)
        {
            return producto.Existencia;
        }

        return 0;
    }
    private void ActualizarCantidadProducto(int productoId, int cantidad)
    {
        var producto = ProductoList.FirstOrDefault(p => p.ProductoId == productoId);
        if (producto != null)
        {
            producto.Existencia -= cantidad;
        }
    }
    

    protected override void OnInitialized()
    {
        if (ventaId > 0)
        {
            this.venta.VentaId = ventaId;
            this.Buscar();
        }
        ProductoList = ProductoBLL.GetList(p => true && p.Status == true);
        ClienteList = ClienteBLL.GetList(p => true && p.Status == true);
    }

    public void Nuevo()
    {
        venta = new Ventas();
        detalle.SubTotal = 0;
        PagoObtenido = 0;
        Devuelta = 0;
        detalle.Cantidad = 0;
        Condicion = false;
        notify.ShowNotification("Nueva plantilla creada correctamente.", NotificationSeverity.Success);
    }

    bool Validar()
    {
        bool validar = true;

        if (venta.ventasDetalle.Count < 1)
        {
            notify.ShowNotification("Debe agregar al menos un detalle", NotificationSeverity.Error);
            validar = false;
        }
        if(venta.ClienteId <= 0)
        {
            notify.ShowNotification("Debe seleccionar un cliente", NotificationSeverity.Error);
            validar = false;
        }
        if(PagoObtenido <= 0 && venta.EsCredito == "No")
        {
            notify.ShowNotification("Debe ingresar el pago obtenido.", NotificationSeverity.Error);
            validar = false;
        }
        if(PagoObtenido < venta.Total && venta.EsCredito == "No")
        {
            notify.ShowNotification("El pago obtenido es menor que el monto a pagar (total)", NotificationSeverity.Error);
            validar = false;
        }

        return validar;
    }

    private void CalcularSaldoRestante()
    {
        SaldoRestante = venta.Total - venta.ValorCuotas;
    }

    private void ObtenerValorCuotas()
    {
        venta.ValorCuotas = venta.Total / venta.Cuotas;
    }

    private void ObtenerDevuelta()
    {
        if (PagoObtenido >= venta.Total)
        {
            Devuelta = PagoObtenido - venta.Total;
        }
    }

    void Guardar()
    {

        if (!Validar()) { return; }

            if(SaldoRestante != 0)
            {
                venta.Total = SaldoRestante;
            }

        if (VentasBLL.Guardar(venta))
        {
            notify.ShowNotification("Fue guardado correctamente.");
            //Generar factura en PDF
            jsRunTime.InvokeVoidAsync("Facturar");
            venta = new Ventas();
            PagoObtenido = 0;
            Devuelta = 0;
        }
        else
        {
            notify.ShowNotification("No fue guardado, intentar nuevamente.", NotificationSeverity.Error);
        }
             
    }
    private void Buscar()
    {
        if (venta!.VentaId > 0)
        {
            var encontrado = VentasBLL.Buscar(venta.VentaId);
            
            if (encontrado != null)
            {
                notify.ShowNotification("Se ha encontrado con éxito", NotificationSeverity.Success);
                this.venta = encontrado;
            }
            else
            {
                notify.ShowNotification("El ID ingresado no ha sido encontrado.", NotificationSeverity.Error);
            }
        }
    }

    public void Eliminar()
    {
        if (VentasBLL.Eliminar(venta.VentaId))
        {
            notify.ShowNotification("Se ha eliminado con éxito.", NotificationSeverity.Success);
            venta = new Ventas();
        }
        else
        {
            notify.ShowNotification("No hay elementos para borrar.", NotificationSeverity.Warning);
            return;
        }
    }

    void AgregarDetalle()
    {
        var producto = ProductoBLL.Buscar(detalle.ProductoId);
        if (detalle.Cantidad > 0)
        {
            if (detalle.Cantidad <= producto?.Existencia)
            {
                detalle.PrecioProducto = producto.Precio;
                detalle.ITBIS = producto.ITBIS;
                detalle.ITBIS = detalle.ITBIS / 100;
                detalle.SubTotal += detalle.PrecioProducto;

                detalle.Importe = detalle.Cantidad * producto.Precio;
                detalle.ITBIS = detalle.Importe * detalle.ITBIS;
                detalle.Importe += detalle.ITBIS;

                producto.Descuento /= 100;
                producto.Descuento *= detalle.Importe;
                detalle.Importe -= producto.Descuento;

                var detalleExistente = this.venta.ventasDetalle.FirstOrDefault(d => d.ProductoId == detalle.ProductoId);
                if (detalleExistente != null)
                {
                    var cantidadMaximaDisponible = producto.Existencia - detalleExistente.Cantidad;

                    if (detalle.Cantidad > cantidadMaximaDisponible)
                    {
                        notify.ShowNotification("La cantidad excede la cantidad máxima disponible", NotificationSeverity.Warning);
                        return;
                    }
                    detalleExistente.Cantidad += detalle.Cantidad;
                    detalleExistente.Importe += detalle.Importe;
                }
                else
                {
                    this.venta.ventasDetalle.Add(this.detalle);
                }

                //Metodo para actualizar la cantidad del producto en el detalle
                ActualizarCantidadProducto(detalle.ProductoId, detalle.Cantidad);

                this.detalle = new VentasDetalle();
                detalle.SubTotal = venta.ventasDetalle.Sum(p => p.PrecioProducto * p.Cantidad);
                venta.Total = venta.ventasDetalle.Sum(p => p.Importe);
                if(Condicion == false && venta.VentaId!=0){
                    notify.ShowNotification("Se ha desactivado el boton eliminar, para poder eliminar la venta debe guardar los cambios", NotificationSeverity.Warning);
                }
                Condicion = true;
                
            }
            else
            {
                notify.ShowNotification("La cantidad asignada es mayor a la existencia", NotificationSeverity.Warning);
            }
        }
        else
        {
            notify.ShowNotification("La cantidad debe ser mayor que 0.", NotificationSeverity.Warning);
        }
    }

    void EliminarDetalle(VentasDetalle detalleBorrado)
    {
        venta.Total -= detalleBorrado.Importe;
        venta.ventasDetalle.Remove(detalleBorrado);
        detalle.SubTotal -= detalleBorrado.PrecioProducto * detalleBorrado.Cantidad;
        venta.Total = venta.ventasDetalle.Sum(p => p.Importe);
        
        //Metodo para actualizar la cantidad del producto en el detalle
        ActualizarCantidadProducto(detalleBorrado.ProductoId, - detalleBorrado.Cantidad);

        if(Condicion == false && venta.VentaId!=0){
            notify.ShowNotification("Se ha desactivado el boton eliminar, para poder eliminar la venta debe guardar los cambios", NotificationSeverity.Warning);
        }
        Condicion = true;
    }
}